* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.players {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.player-one,
.player-two {
  border: 2px solid black;
  padding: 0 25px;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 50vw;
}

.players {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.player-one,
.player-two {
  border: 2px solid black;
  padding: 0 25px;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
#playground {
  margin-top: 8%;
  width: 100vw;
  height: 80vh;
  background-image: url(/images/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
#cube {
  position: absolute;
  top: 0;
  left: 0;
}

#cube img {
  height: 85px;
  user-select: none;
}

