* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: crosshair;
  
}
#playground {
  margin-top: 8%;
  width: 95vw;
  height: 80vh;
  background-color: lightgray;
}
#cube {
  width: 100px;
  position: absolute;
  top: 20%;
  left: 10%;
  height: 100px;
  border-radius: 50%;
  background-color: indianred;

}
/* #aim {
  width: 30px;
  height: 30px;
  background-color: indigo;
  border-radius: 50%;
}
*/